# folders
__pycache__/
.env_clustering/
.vs_code/
.new_env/
article_results/
brouillons/
clustering_saved/*
!clustering_saved/dhn_1/
data_results_xlsx_files/.xslx_files/
images_dhns/
new_clusters/
pickled_dhns/
trained_mls/
topology_data/

# files
A-generate_new_clusters.ipynb
B-study_bad_good_clusters_features_time_series.ipynb
C-read_trained_ml_perfs.ipynb
D-hierarchical_cluster_generation_training.ipynb
D-hierarchical_clustering_cleaned.ipynb
E-automatic_clusters_generation_dhns.ipynb
F-hybrid_sumulation_found_clusters.ipynb
test.pdf
test.svg
clustering_saved/dhn_1/clustering_results.csv
some_plots.ipynb
requirements_env.txt

*.json
